<form [formGroup]="kendaraanForm">
  <div>
    <label>Nama Kendaraan: </label>
    <input type="text" formControlName="nama" class="nama">
  </div>
  <br>
  <div>
    <label>Tipe Kendaraan: </label>
    <select formControlName="tipe" class="tipe">
      <option></option>
      <option *ngFor="let data of tipeKendaraan" [value]="data.id" class="option">{{data.typeName}}</option>
    </select>
  </div>
  <br>
  <div *ngIf="kendaraanForm.get('tipe').value === '1'">
    <label>Baris Tempat Duduk: </label>
    <input type="baris" formControlName="baris" class="baris">
  </div>
  <br>
  <div>
    <button (click)="save()">Simpan</button>
  </div>
</form>